@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	position: relative;
	color: #212121;
	background-color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	height: 100%;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: #212121;
}

a:visited {
	color: #212121;
}

a:active {
	color: #212121;
}

a:hover {
	text-decoration: underline;
	color: #212121;
}

.clear {
	clear: both;
	float: none;
	display: block;
}

span#pageWasNotFound {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 16px;
	text-align: center;
}

/*
	MAIN SITE
================================================== */

div#contentAndHeader {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -40px;
	width: 100%;
}

.contentWrapper {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #9e9e9e;
	text-align: center;
}

div#push {
	height: 40px;
}

/* Header
-------------------------------------------------- */

header {
	border-bottom: 1px solid #e0e0e0;
	height: 40px;
	background-color: white;
	margin-bottom: 10px;
}

a.item {
	display: block;
	float: left;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

a.active {
	color: #0091ea;
}

a.item:hover {
	background-color: #fafafa;
	text-decoration: none;
}

a#facebook {
	display: inline-block;
	float: right;
	font-size: 30px;
	color: #3b5998;
	padding-top: 5px;
	outline: none;
}

a#facebook:hover {
	outline: none;
	text-decoration: none;
}

a#facebook:focus {
	outline: none;
}

/* Content
-------------------------------------------------- */

div#content {
	border: 1px solid #e0e0e0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

/*
	MAIN PAGE
================================================== */

div#header {
	height: 200px;
	border-bottom: 1px solid #e0e0e0;
}

div#header > img {
	float: right;
	height: 200px;
}

div#header span#lineOne {
	display: block;
	font-family: 'Poiret One', cursive;
	font-size: 14px;
	padding-left: 65px;
	padding-top: 65px;
}

div#header span#lineTwo {
	display: block;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	padding-left: 20px;
}

.textWrapper {
	padding: 10px;
	display: block;
}

.textWrapper > span {
	display: block;
	text-align: center;
	font-size: 16px;
}

p.paragraph {
	font-size: 16px;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
	SERVICES PAGE
================================================== */

p.paragraph > span {
	padding-right: 10px;
	font-size: 14px;
	color: #0091ea;
}

/*
	CONTACTS PAGE
================================================== */

.contacts {
	text-align: center;
	float: left;
	width: 320px;
	height: 100%;
}

.contacts > i {
	font-size: 18px;
	color: #0091ea;
}

.title {
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
}

.line {
	display: block;
	color: #424242;
	font-size: 16px;
}

.e-mail {
	display: block;
	font-size: 16px;
	color: #424242;
}

.e-mail:hover {
	text-decoration: underline;
	cursor: text;
}

#googleMap {
	padding-top: 20px;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#googleMap > iframe {
	width: 300px;
	height: 300px;
}